{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/env"
      ]
    }
  },
  "plugins": [
    "html-tag-js/jsx/jsx-to-tag.js",
    "html-tag-js/jsx/syntax-parser.js",
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "compact": true
}